<launch>
  <!-- Setup map variables -->
  <arg name="map_path" default="$(find mirte_description)/slam_maps"/>
  <arg name="map_file" default="test_map.yaml"/>

  <!-- Set robot name and id values -->
  <arg name="frame" default="mirtebot"/>
  <arg name="id" default="0"/>
  
  <!-- Create a unique robot id -->
  <arg name="uid" value="$(arg frame)_$(arg id)"/>
  
  <!-- Setup map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)/$(arg map_file)">
      <param name="frame_id" value="map"/>
  </node> -->
  
  <remap from="map" to="/map"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mirte_gazebo)worlds/mirtebot.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns="$(arg frame)_$(arg id)">
    <include file="$(find mirte_gazebo)/launch/mirtebot.launch" >
      <arg name="initial_pose_x" value="0" />
      <arg name="initial_pose_y" value="0" />
      <arg name="initial_pose_z" value="0" />
      <arg name="initial_pose_yaw" value="0" />
      <arg name="frame"  value="$(arg frame)" />
      <arg name="id" value="$(arg id)" />
    </include>
  </group>

  <!-- ########################################## Mapping ############################################3 -->
  <!--    Computes number of agents required from map-->
  <node pkg="map_server" name="map_server" type="map_server"
      args="$(arg map_path)/$(arg map_file)"
      respawn="true" clear_params="true" output="screen"/>
  
  <include file="$(find full_coverage_path_planner)/launch/optimizer.launch"/>

  <!--    Compute coverage path from map, divide path for each agent -->
  <include file="$(find full_coverage_path_planner)/launch/path_planner.launch"/>

  <node pkg="full_coverage_path_planner" type="map_merge.py" respawn="false" name="map_merge" clear_params="true"
        output="screen">
      <param name="robot_map_topic" value="coverage_grid"/>
      <param name="robot_namespace" value="mirtebot"/>
      <param name="merged_map_topic" value="coverage_grid_merged"/>
  </node>

  <node pkg="full_coverage_path_planner" type="eval_progress.py" respawn="false" name="coverage_progress_evaluator"
        clear_params="true" output="screen">
      <param name="static_map_topic" value="map"/>
      <param name="coverage_map_topic" value="coverage_grid_merged"/>
  </node>
  <!-- ########################################## Mapping ############################################3 -->

  <node name="rviz" pkg="rviz" type="rviz" 
    args="-d $(find mirte_description)/config/display.rviz" >
  </node>

</launch>