<launch>
  <arg name="model" />
  <arg name="gui" default="true" />

  <param 
        name="robot_description" 
        command="$(find xacro)/xacro
        '$(find mirtebot_description)/urdf/mirtebot.xacro'
        "
    />
  
  <!--node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" /-->
  
<!--Creates initial tf frames-->

  <node 
    pkg="tf" 
    type="static_transform_publisher" 
    name="odom_to_basefootprint" 
    args="0.0 0.0 0.0 0 0 0.0 odom base_footprint 40" />

  <node 
    pkg="tf" 
    type="static_transform_publisher" 
    name="base_footprint_to_base_link"
    args="0 0.0 0 0.0 0.0  0.0 base_footprint base_link 40" />

<!--Create robot-->
  <param
    name="robot_description"
    textfile="$(find mirtebot_description)/urdf/mirtebot_description.urdf" />
  

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" 
    />
  
  <!--node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /--> 

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find mirtebot_description)/urdf.rviz" />
    
</launch>