<launch>
  <arg name="uid" default=""/>
  <!-- <arg name="start_pose" default="[0.0, 0.0, 0.0]"/> -->

  <!-- Starts a slam_toolbox node using uid to use the correct mirtebot -->
  <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find mirte_description)/config/mapper_params_offline.yaml" />
    <param name="base_frame" value="$(arg uid)/base_link"/>
    <param name="odom_frame" value="$(arg uid)/odom"/>
    <param name="scan_topic" value="/$(arg uid)/scan"/>
    <!-- <param name="map_start_pose" value="$(arg start_pose)"/>     -->
  </node>
</launch>

<!-- online_async -->